@font-face {
  font-family: KarlaRegular;
  src: url("../src/assets/fonts/static/Karla-Regular.ttf"), format("ttf");
  font-weight: 400,
}

@font-face {
  font-family: KarlaBold;
  src: url("../src/assets/fonts/static/Karla-Bold.ttf"), format("ttf");
  font-weight: 700,
}

@import "tailwindcss";

@theme {
  --font-karla: KarlaRegular, "sans-serif";
}

@theme {
  --font-karla-bold: KarlaBold, "sans-serif";
}

@theme {

  --color-custom-green-200: hsl(148, 38%, 91%);
  --color-custom-green-600: hsl(169, 82%, 27%);
  --color-custom-red: hsl(0, 66%, 54%);
  --color-custom-white: hsl(0, 0%, 100%);
  --color-custom-grey-500: hsl(186, 15%, 59%);
  --color-custom-grey-900: hsl(187, 24%, 22%);

}